<h1>hello world</h1>

<ul>
    <li><strong> Business Name: </strong> <%= list.name %>   </li>
    <li> <strong> Telephone:  </strong> <%= list.phone %></li>
    <li> <strong> Email Address: </strong> <%= list.contact_email %> </li>
    <li> <strong> Office Address: </strong> <%= list.address %> </li>
    <li> <strong> Category: </strong> <%= list.category[0] %> </li>

</ul>